@charset "UTF-8";

/* common */

.box-left {
  float: left;
}

.box-right {
  float: right;
}

p {
  display: inline;
  line-height: 1.5em;
}

body {
  background-color: #dcf5f3;
}

/* 非表示情報用 */
.sr-only {
	display: none;
}

#main-wapper {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 940px;
}

/* header */

#header .site-logo {
  margin: 16px 0;
}

#header nav {
  height: 50px;
}

#header nav a {
  display: block;
  float: left;
}

#header .key-image {
  min-height: 250px;
  margin-bottom: 60px;
}

#header .bx-wrapper {
  border: none;
}

#header .bxslider img {
  display: none;
}
#header .bx-viewport .bxslider img {
  display: block !important;
}

/* aside */

#aside {
  display: block;
  width: 300px;
}

#aside .side-title {
  margin-bottom: 20px;
}

#aside li {
  margin-bottom: 10px;
}

/* main */

#main {
  display: block;
  width: 620px;
}

#main li {
  display: inline-block;
  width: 300px;
  margin-bottom: 12px;
}

#main li:nth-child(odd) {
  margin-right: 20px;
}

#main li h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 20px 0 8px;
}

#main li img {
  margin: 0 18px 8px 0;
}

/* footer */

#footer img {
  margin-top: 20px;
}
